<a href="https://colab.research.google.com/github/djcd171117/TERMINAL-III/blob/main/090226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import yfinance as yf
df_aapl=yf.download('AAPL',start="2024-01-01", end='2026-01-01')
df_aapl

/tmp/ipython-input-2414703401.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_aapl=yf.download('AAPL',start="2024-01-01", end='2026-01-01')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  183.903229  186.677036  182.169601  185.399096  82488700
2024-01-03  182.526230  184.140985  181.713894  182.496512  58414500
2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600
2024-01-05  179.484955  181.050175  178.484409  180.287390  62379700
2024-01-08  183.823975  183.863609  179.801961  180.386437  59144500
...                ...         ...         ...         ...       ...
2025-12-24  273.809998  275.429993  272.200012  272.339996  17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004  21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002  23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998  22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998  27293600

[502 rows x 5 columns]

In [ ]:
#df_aapl = pd.read_csv("")
df_aapl.head()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  183.903229  186.677036  182.169601  185.399096  82488700
2024-01-03  182.526230  184.140985  181.713894  182.496512  58414500
2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600
2024-01-05  179.484955  181.050175  178.484409  180.287390  62379700
2024-01-08  183.823975  183.863609  179.801961  180.386437  59144500

In [ ]:
import pandas as pd

In [ ]:
print(df_aapl.head())

Price            Close        High         Low        Open    Volume     Rango
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  183.903229  186.677036  182.169601  185.399096  82488700  4.507435
2024-01-03  182.526230  184.140985  181.713894  182.496512  58414500  2.427091
2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600  2.189316
2024-01-05  179.484955  181.050175  178.484409  180.287390  62379700  2.565766
2024-01-08  183.823975  183.863609  179.801961  180.386437  59144500  4.061648

In [ ]:
df_aapl.reset_index(inplace=True)

In [ ]:
df_aapl.columns = ['Date', Close', 'High', 'Low', 'Open', 'Volume']
df_aapl.head(10)

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-4256181298.py, line 1)

In [ ]:
df_aapl.iloc[2:,:].reset_index(drop = True)

NameError: name 'df_aapl' is not defined

In [ ]:
df_aapl.tail(10) #Puedo ver las ultimas 10

NameError: name 'df_aapl' is not defined

In [ ]:
df_aapl.info() #Me dice toda la parte estructural de mi archivo

NameError: name 'df_aapl' is not defined

In [ ]:
df_aapl['Date'] = pd.to_datetime(df_aapl['Date'])
df_aapl['Close'] = df_aapl.Close.astype('float')
df_aapl['High'] = df_aapl.Close.astype('float')
df_aapl['Close'] = df_aapl.Close.astype('float')
df_aapl['Volume'] = df_aapl.Close.astype('float')

NameError: name 'pd' is not defined

In [ ]:
df_aapl.describe()

NameError: name 'df_aapl' is not defined

In [ ]:
df_aapl.dtypes

NameError: name 'df_aapl' is not defined

In [ ]:
df_aapl[df_aapl.Open > 250] #Para filtrar condiciones son corchetes, nombre de archivo, columna y la condición

NameError: name 'df_aapl' is not defined

In [ ]:
df.aapl[(df_aapl.Open < 250) & (df_aapl.Open > 100)]

NameError: name 'df' is not defined

In [ ]:
df_aapl.loc[df_aapl.Open > 250, "Status"] = 'Atipico'
df_aapl

KeyError: "None of [Index([('A', 'A', 'P', 'L')], dtype='object', name='Date')] are in the [index]"

In [ ]:
df_aapl.loc[df_aapl.Close > df_aapl.Close.shift(1), 'Tendencia'] = 'Sube' #Shift Compara con un valor anterior, el numero indica con que filas comparara
df_aapl.head(10)

KeyError: "None of [Index([('A', 'A', 'P', 'L')], dtype='object', name='Date')] are in the [index]"

In [ ]:
df_aapl.loc[df_aapl.Close < df_aapl.Close.shift(1), 'Tendencia'] = 'Sube' #Shift Compara con un valor anterior, el numero indica con que filas comparara
df_aapl.head(10)

KeyError: "None of [Index([('A', 'A', 'P', 'L')], dtype='object', name='Date')] are in the [index]"

In [ ]:
df_aapl.sort_values(by = 'High', ascending = False)

ValueError: The column label 'High' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

In [ ]:
df_aapl.sort_values(by = ['Tendencia', 'High'],
                    ascending = [True, False]) #La primera que ordena es de forma ascendente y la segunda de forma descendente

In [ ]:
df_aapl['Rango'] = df_aapl['High'] - df_aapl['Low']
df_aapl

Price            Close        High         Low        Open    Volume     Rango
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  183.903229  186.677036  182.169601  185.399096  82488700  4.507435
2024-01-03  182.526230  184.140985  181.713894  182.496512  58414500  2.427091
2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600  2.189316
2024-01-05  179.484955  181.050175  178.484409  180.287390  62379700  2.565766
2024-01-08  183.823975  183.863609  179.801961  180.386437  59144500  4.061648
...                ...         ...         ...         ...       ...       ...
2025-12-24  273.809998  275.429993  272.200012  272.339996  17910600  3.229980
2025-12-26  273.399994  275.369995  272.859985  274.160004  21521800  2.510010
2025-12-29  273.760010  274.359985  272.350006  272.690002  23715200  2.009979
2025-12-30  273.079987  274.079987  272.279999  272.809998  22139600  1.799988
2025-12-31  271.859985  273.679993  271.750000  273.059998  27293600  1.929993

[502 rows x 6 columns]

In [ ]:
df_aapl.Tendencia.unique()

AttributeError: 'DataFrame' object has no attribute 'Tendencia'

In [ ]:
df_aapl.Tendencia.nunqique()

AttributeError: 'DataFrame' object has no attribute 'Tendencia'

In [ ]:
import datetime as dt

In [ ]:
df_aapl['Year'] = df_aapl.Date.df.year
df_aapl['Month'] = df_aapl.Date.df.Month
df_aapl['day'] = df_aapl.Date.df.day
df_aapl['Week_day'] = df_aapl.Date.df.weekday
df_aapl.head()

AttributeError: 'DataFrame' object has no attribute 'Date'

In [ ]:
df_aapl = df_aapl.drop(columns = ['Status', 'Tendencia'])
df_aapl.head()

KeyError: 'Status'

In [ ]:
col = ['Date', 'Year', 'Month', 'Day', 'Week_Day']
df_aapl[[col]].head()

KeyError: "None of [MultiIndex([('Date', 'Year', 'Month', 'Day', 'Week_Day')],\n           )] are in the [columns]"

In [ ]:
df_aapl[['Close', 'Open', 'High' 'Low']].head()

KeyError: "['HighLow'] not in index"

In [ ]:
df_msft = yf.download('MSFT', start = '2024-01-01',
                      end = '2026-01-01')

/tmp/ipython-input-4204880019.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_msft = yf.download('MSFT', start = '2024-01-01',
[*********************100%***********************]  1 of 1 completed

In [ ]:
df_msft = df_msft.reset_index()
df_msft.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volumen']

In [ ]:
df_msft.head()

        Date       Close        High         Low        Open   Volumen
0 2024-01-02  365.421661  370.377766  361.381887  368.367727  25258600
1 2024-01-03  365.155579  367.776505  363.096286  363.588941  23083500
2 2024-01-04  362.534668  367.618867  361.775991  365.224573  20901500
3 2024-01-05  362.347473  366.594154  361.115837  363.549552  21004600
4 2024-01-08  369.185455  369.687973  363.588907  363.874625  23134000

In [ ]:
pd.concat([df_aapl,df_msft], ignore_index = True)

,"(Date, )","(Close, AAPL)","(High, AAPL)","(Low, AAPL)","(Open, AAPL)","(Volume, AAPL)","(Rango, )",Date,Close,High,Low,Open,Volumen
0,2024-01-02,183.903229,186.677036,182.169601,185.399096,82488700.0,4.507435,NaT,NaN,NaN,NaN,NaN,NaN
1,2024-01-03,182.526230,184.140985,181.713894,182.496512,58414500.0,2.427091,NaT,NaN,NaN,NaN,NaN,NaN
2,2024-01-04,180.208145,181.377098,179.187783,180.445890,71983600.0,2.189316,NaT,NaN,NaN,NaN,NaN,NaN
3,2024-01-05,179.484955,181.050175,178.484409,180.287390,62379700.0,2.565766,NaT,NaN,NaN,NaN,NaN,NaN
4,2024-01-08,183.823975,183.863609,179.801961,180.386437,59144500.0,4.061648,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-24,488.019989,489.160004,484.829987,485.679993,5855900.0
1000,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-26,487.709991,488.119995,485.959991,486.709991,8842200.0
1001,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-29,487.100006,488.350006,484.179993,484.859985,10893400.0
1002,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30,487.480011,489.679993,485.500000,485.929993,13944500.0
1003,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-31,483.619995,488.140015,483.299988,487.839996,15601600.0

In [ ]:
df_aapl.merge(df_msft, how = ) #El primero se considera a la izquierda, el segundo a la derecha
# how = ['left', 'right', 'outer', 'inner', 'left_outer', 'right_outer']