<a href="https://colab.research.google.com/github/djcd171117/TERMINAL-III/blob/main/Clase%2004-02-26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTAR LIBRERIAS

In [ ]:
import math

In [ ]:
math.sqrt(25)

In [ ]:
math.pi

In [ ]:
from match import sqrt, pi

In [ ]:
sqrt(36)

In [ ]:
import math as m

In [ ]:
m.log(10)

In [ ]:
m.e

In [ ]:
m.pow(2,) #x^n = pow (x,n)

In [ ]:
m.factorial(5)

In [ ]:
m.sin(pi/2)

In [ ]:
import random

In [ ]:
random.randint(1,100)

In [ ]:
random.uniform(0,1)

In [ ]:
random.choice(['a', 'B', 'C', 'D'])

In [ ]:
from datetime import datetime, timedelta

In [ ]:
datetime.now()

In [ ]:
hora_actual = datetime.now()

In [ ]:
hora_actual + timedelta(days = 2)

In [ ]:
import os
import sys

In [ ]:
os.getcwd()

In [ ]:
os.name

In [ ]:
sys.version

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([1, 2, 3, 4, 5])
arr1

In [ ]:
arr2 = np.array([[1, 2, 3]], [4, 5, 6])}
arr2

In [ ]:
arr3= np.array([[1,2], [4, 5, 6]])
arr3

In [ ]:
np.zeros(3)]

In [ ]:
np.zeros((3,3))

In [ ]:
np.ones(4)

In [ ]:
np.ones((4,4))

In [ ]:
np.random.rand(3,3)

In [ ]:
np.linspace(0, 10, 10) #(inicio, fin, cantidad de #)

In [ ]:
arr[-1]

In [ ]:
arr[1:5]

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

a + b ]

In [ ]:
b - a

In [ ]:
a * b

In [ ]:
b / a

In [ ]:
arr1 = np.array([0, np.pi/2, np.pi])

In [ ]:
np.sin(arr1)

In [ ]:
np.cos(arr1)

In [ ]:
np.exp(arr1)

In [ ]:
np.log(arr1)

In [ ]:
np.log(arr1 + 1)

In [ ]:
arr = np.array([10, 20, 30, 40, 50])

In [ ]:
np.mean(arr)

In [ ]:
np.median(arr)

In [ ]:
np.std(arr)

In [ ]:
np.var(arr)

In [ ]:
np.min(arr)

In [ ]:
np.max(arr)

In [ ]:
A = np.array([[1,2],[3,4]])
B = np.array([[3,4],[5,6]])

In [ ]:
A + B

In [ ]:
B - A

In [ ]:
A * B

In [ ]:
np.matmul(A, B)

In [ ]:
A @ B

In [ ]:
np.dot(A, B)

In [ ]:
np.cross(A, B)

In [ ]:
A= np.array([[[1,2,10], [3,4,20]]])
B = np. array([[[5,6,30],[7,8,40]]])
np.cross(A, B)

In [ ]:
from numpu.linalg import det, inv
A
det(A)
inv(A)

In [ ]:
np.matmul(A, inv(A))
A.T

In [ ]:
from numpy.linalg import eig

In [ ]:
M ? np.array([[2,-1], [-1, 2]])
M

In [ ]:
eigenvalores, eigenvectores = eig(M)

In [ ]:
eigenvalores

In [ ]:
eigenvectores

### NORMAS

In [ ]:
v = np.array([3,4])

In [ ]:
norm_l2 = np.linalg.norm(v)
norma_l2

#NORMAL L1 // NORMA MANHATTAN

In [ ]:
n_l1 = np.linalg.norm(v, ord = 1)
n_l1

In [ ]:
np.linalg.norm(v, ord = np.inf)

# PANDAS

In [ ]:
import pandas as pd

In [ ]:
pd.Series([10,20,30,40,50])

In [ ]:
pd.DataFrame([[10,20,30,40,50])

In [ ]:
data = [1, 2, 3, 4, 5, 6, 7]
pd.DataFrame(data, columns = ['Numeros'],
             index = ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'])

In [ ]:
data = [['Omar', 29], ['Fer', 28], ['Juan', 30]]

df = pd.DataFrame(data, columns = ['Nombre', 'Edad'])

df

In [ ]:
datos = {
    'Nombre' : ['Ana', 'Carlos', 'Luis', 'Maria'], 'Sexo': ['M', 'H', 'H', 'M'], 'Calificaciones': [10, 9, 8, 9.5]}
    pd.DataFrame(datos)

In [2]:
import yfinance as yf

In [4]:
df_aapl= yf.download('AAPL', start = "2024-01-01",
                            end = "2026-01-01")

/tmp/ipython-input-567977449.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_aapl= yf.download('AAPL', start = "2024-01-01",
[*********************100%***********************]  1 of 1 completed

In [5]:
df_aapl

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  183.903244  186.677052  182.169616  185.399112  82488700
2024-01-03  182.526230  184.140985  181.713894  182.496512  58414500
2024-01-04  180.208130  181.377083  179.187767  180.445875  71983600
2024-01-05  179.484940  181.050159  178.484394  180.287374  62379700
2024-01-08  183.823975  183.863609  179.801961  180.386437  59144500
...                ...         ...         ...         ...       ...
2025-12-24  273.809998  275.429993  272.200012  272.339996  17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004  21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002  23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998  22139600
2025-12-31  271.859985  273.679993  271.750000  273.059998  27293600

[502 rows x 5 columns]

In [6]:
df_aapl.to_excel("finanzas_apple.xlsx")

In [7]:
df_aapl.to_csv("finanzas_apple.cvs")

In [8]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive